logs/*
!.gitkeep
node_modules/
bower_components/
reports/
tmp/
.DS_Store
.idea/
platforms/
coverage/
nbproject/
plugins/
build/
/www/version.js*
*.jks
**/tsconfig.tsbuildinfo
# exclude all .js & .js.map files, to provide only .ts
/www/**/*.js
/www/**/*.js.map
# include all legacy javascript files
!www/components/authentication/auth.service_test.js
!www/components/blockly/blockly.directive.js
!www/components/blockly/blockly.module.js
!www/components/blockly/blockly.service.js
!www/components/blockly/ngBlockly.provider.js
!www/components/blocklyConfig/blockly-blocks.run.js
!www/components/blocklyConfig/blockly-blocks.run_test.js
!www/components/blocklyConfig/blockly.config.js
!www/components/blocklyConfig/blocklyConfig.module.js
!www/components/blocklyConfig/blockly.config_test.js
!www/components/crypto/worker/crypto.worker.js
!www/components/crypto/worker/crypto.worker.js.map
!www/components/crypto/bytes.js
!www/components/exchange/workflowExport.service_test.js
!www/components/execution/executionBlock.component.js
!www/components/execution/executionBlockParallel.component.js
!www/components/intents/intent.service_test.js
!www/components/modal/infoModal.component.js
!www/components/modal/infoModal.module.js
!www/components/modal/leaveModal.component.js
!www/components/modal/leaveModal.module.js
!www/components/modal/loginModal.controller.js
!www/components/modal/loginModal.controller_test.js
!www/components/modal/loginModal.module.js
!www/components/modal/promptModal.component.js
!www/components/modal/promptModal.component_test.js
!www/components/modal/promptModal.module.js
!www/components/overview/serverExportButton_test.js
!www/components/restClient/restClient.config_test.js
!www/components/restClient/restClient.run_test.js
!www/components/settings/quotaUsageBar.component_test.js
!www/components/tts/tts.service_test.js
!www/components/workflow/workflow.module.js
!www/views/contact_help/contactView.js
!www/views/contact_help/gallery-help.js
!www/views/contact_help/gallery-help_test.js
!www/views/contact_help/helpView.js
!www/views/execution/executionComponent_test.js
!www/views/execution/executionView.js
!www/app.js
!www/cordova.js
!www/service-worker.js
