<div class="modal-header">
    <h3 class="modal-title" id="modal-title"><span class="glyphicon glyphicon-exclamation-sign"></span> Achtung</h3>
</div>
<div class="modal-body" id="modal-body">
    <span ng-bind-html="$ctrl.text"></span>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="$ctrl.onConfirm()"><span class="glyphicon glyphicon-ok"></span> Bestätigen</button>
    <button class="btn btn-primary" ng-click="$ctrl.onCancel()"><span class="glyphicon glyphicon-remove"></span> Zurück</button>
</div>